In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value=700

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1883
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop(columns='IS_SUCCESSFUL')
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
input_features = len(X_train_scaled[0])
# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=input_features, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 1)                 81

=================================================================
Total params: 3521 (13.75 KB)
Trainable params: 3521 (13.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5747 - accuracy: 0.7220
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7303
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7305
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7322
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7326
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7322
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7335
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7332
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7317
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7334
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7346
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7345
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7346
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7338
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7355
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7354
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7345
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7361
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7354
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7349
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7368
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7372
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7355
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7342
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7355
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7347
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7363
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7365
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7359
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7353
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7359
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7359
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7359
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7365
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7369
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7368
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7370
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7369
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7379
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7377
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7374
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7368
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7365
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7377
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7367
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7368
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7374
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7377
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7373
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7370
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7366
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7358
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7391
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7378
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7376
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7378
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7377
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7377
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7378
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7377
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7383
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7378

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5553 - accuracy: 0.7259 - 999ms/epoch - 4ms/step
Loss: 0.5553435683250427, Accuracy: 0.7259474992752075

In [16]:
# Export our model to HDF5 file
nn.save(r"C:\Users\tashane.davis\Downloads\Starter_Code (6)\Models\AlphabetSoupCharity_Optimization_2.keras")